/* ******************* Styling Navigation  ******************** */
.products-container .responsive-filters-button {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  display: inline-block;
  z-index: 999;
  color: #fff;
  font-size: 1.7rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0px 0px;
}

.productsNavigation .prod-nav-hamburger {
  font-size: 1.6rem;
  position: relative;
  margin-right: 2rem;
  display: block;
}

.productsNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  z-index: 100;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
  height: 10vh;
  color: var(--primary-color);
  position: none;
}

.productsNavigation div {
  display: flex;
  gap: 2rem;
  margin-right: 2.5rem;
}

.productsNavigation div p {
  font-size: 1.6rem;
}
.productsNavigation .logo {
  margin: 0rem 0rem 0rem 2rem;
  display: flex;
  align-items: center;
  gap: 0;
}
.productsNavigation a {
  text-decoration: none;
  color: var(--primary-color);
}
.productsNavigation .prod-navigation_right_side {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin-right: 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px 0px 0px 10px;
  opacity: 1;
  right: -5rem;
  top: 10vh;
  padding: 0 2rem 0 1.5rem;
  background-color: white;
  /* height: 90vh; */
  transition: all 0.3s ease-in-out;
}

.productsNavigation .prod-navigation_right_side .search_bar {
  margin-bottom: 1rem;
  display: none;
}

.productsNavigation input {
  height: 1.5rem;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  outline: none;
  padding: 0 1rem;
}
.products-nav-icon {
  position: relative;
}
.products-nav-icon div {
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 999px;
  justify-content: center;
  font-size: 0.7rem;
  height: 18px;
  width: 18px;
  position: absolute;
  right: 0;
  top: 6px;
  transform: translate(50%, -50%);
  margin-right: 0;
}
.logo h2 {
  font-size: 1.8rem;
  font-family: Ubuntu;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

/* ******************* Styling Aside section  ******************** */
/* .products-section {
  margin-top: 10vh;
} */
.products-aside-section {
  overflow: scroll;
  margin-top: 10vh;
  /* width: 40vw; */
  height: 90vh;
  position: fixed;
  overflow-x: hidden;
  background-color: white;
  z-index: 999;
  /* display: none; */
  position: absolute;
  top: 0;
  left: -20rem;
  transition: all 0.3s ease-in-out;
}

.showFilters {
  left: 0;
}

.search_bar {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 70%;
}

.search_bar:hover {
  border: 2px solid var(--primary-color);
}

.search_bar:focus {
  border: 2px solid var(--primary-color);
}

.products-aside-section hr {
  margin: 1.5rem 1rem;
  color: rgba(0, 0, 0, 0.4);
}

/* Styling filter heading */
.products-aside-section__filter_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}
.products-aside-section__filter_heading h3 {
  margin: 0;
}
.products-aside-section__filter_heading button {
  padding: 0.3rem 0.8rem;
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.05rem;
  transition: border 250ms ease-in-out;
}

.products-aside-section__filter_heading button:active {
  border: 1px solid transparent;
}

.products-quantity {
  text-align: left;
  margin: 0 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.price-range-filter {
  margin: 0 1rem;
}
.price-range-filte__title {
  display: flex;
  justify-content: space-between;
}

.price-range-filter input {
  width: 100%;
}

/* Category FIlter */
.category-filter {
  margin: 0 1rem 2rem 1rem;
  text-align: left;
}

.category-filter div {
  margin-bottom: 0.5rem;
}
/* ******************* Styling Main section  ******************** */
.products-main-section {
  /* width: 90vw;  */
  margin-top: 12vh;
  float: none;
  overflow: scroll;
  height: 85vh;
  overflow-x: hidden;
}
.products-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  /* padding-left: 0.5rem; */
  gap: 2rem;
}
.single-product {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
  padding: 0.5rem 0.2rem;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.single-product:hover {
  border: 2px solid var(--primary-color);
}
.single-product img {
  margin-top: 1.3rem;
  height: 200px;
  width: 140px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.single-product button {
  text-transform: uppercase;
  width: 90%;
  margin-bottom: 0;
}

.single-product .goToCart-btn {
  text-decoration: none;
  color: var(--primary-color);
}

.single-product .add-to-wishlist-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  color: red;
  scale: 1;
  transition: scale 0.3ms ease-in-out;
}
.single-product .add-to-wishlist-icon:active {
  scale: 1.1;
}

.single-product .icon-fill {
  color: red;
}

.single-product p {
  font-size: 0.9rem;
  margin: -0.1rem;
}
.single-product h4 {
  margin: 0.6rem 0 0 0;
  color: var(--primary-color);
}
.single-product-card-details {
  margin-bottom: 0.5rem;
}
.single-product-card-details span:nth-child(1) {
  font-size: 0.9rem;
  margin-right: 0.6rem;
}
.single-product-card-details span:nth-child(2) {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-right: 0.4rem;
  color: rgba(0, 0, 0, 0.5);
}
.single-product-card-details span:nth-child(3) {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.single-product-card-details__rating {
  display: flex;
  align-items: center;
  position: absolute;
  right: -1px;
  top: 213px;
  background-color: var(--secondary-color);
  color: yellow;
  font-size: 13px;
  padding: 0px 5px;
}

.single-product .collection_details {
  position: absolute;
  top: 12px;
  left: 0px;
  background-color: var(--secondary-color);
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0px 5px;
  color: #fff;
}

#new_release {
  background-color: var(--primary-color);
  color: #fff;
}

#expert_pick {
  background-color: dimgray;
  color: #fff;
}

/* Responsive typography using media queries */

@media screen and (min-width: 768px) {
  .products-container .responsive-filters-button {
    /* margin-top: 1rem; */
    display: none;
  }

  .productsNavigation .prod-nav-hamburger {
    display: none;
  }

  .products-aside-section {
    overflow: scroll;
    margin-top: 0.5rem;
    width: 30vw;
    height: 90vh;
    position: fixed;
    overflow-x: hidden;
    display: block;
    background-color: none;
    z-index: 999;
    /* display: none; */
    top: 10vh;
    left: 0;
  }

  .products-main-section {
    width: 70vw;
    float: right;
    overflow: scroll;
    height: 87vh;
    overflow-x: hidden;
  }

  .productsNavigation .prod-navigation_right_side {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-right: 2.5rem;
    padding: 0;
    opacity: 0.85;
    height: 10vh;
    box-shadow: none;
    top: 0;
    right: 0;
  }

  .products-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    /* padding-left: 0.5rem; */
    gap: 2rem;
  }

  .productsNavigation .prod-navigation_right_side .search_bar {
    margin-bottom: 1rem;
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .products-container .responsive-filters-button {
    /* margin-top: 1rem; */
    display: none;
  }

  .productsNavigation .prod-nav-hamburger {
    display: none;
  }

  .products-aside-section {
    overflow: scroll;
    margin-top: 0.5rem;
    width: 20vw;
    height: 90vh;
    position: fixed;
    overflow-x: hidden;
    display: block;
    /* background-color: hsl(220, 27%, 98%); */
    background-color: none;
    z-index: 999;
    /* display: none; */
    top: 10vh;
    left: 0;
  }

  .products-main-section {
    width: 80vw;
    float: right;
    overflow: scroll;
    height: 87vh;
    overflow-x: hidden;
  }

  .products-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    /* padding-left: 0.5rem; */
    gap: 2rem;
  }

  .productsNavigation .prod-navigation_right_side .search_bar {
    margin-bottom: 1rem;
    display: inline-block;
  }
}
